*{
background-color: rgb(247, 242, 235);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.app{
    font-style: italic;
    color: rgb(18, 113, 201);
    max-width: 50%;
}

textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
  }
  
  
  textarea:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
  }

  body{
	font-family: arial;	
}

.wrapper{
	width: 800px;
	height: 100vh;
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.cmd{
	position: relative;
	display: block;
	
	height: 300px;
	width: 100%;
	border: 1px solid #000000;
	border-radius: 4px;
	overflow: hidden;
	
	box-shadow: 0px 8px 18px #4b1d3f;
}

/*
 * 1. Set position
 * 2. Set dimension
 * 3. Style
 */
.title-bar{
	/* 1 */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* 2 */
	width: 100%;
	height: 40px;
	/* 3 */
	display: block;
	color: #FFFFFF;
	line-height: 40px;
	font-weight: 600;
	background-color: #242424;
	text-align: center;
}


.textarea{
	position: relative;
	top: 70px;
	padding: 12px;
	resize: none;
	width: 100%;
	height: calc(100% - 70px);
	background-color: #4b1d3f !important;
	color: #FFFFFF;
    font-family: monospace;
	margin: 0px;
	font-size: 1.1rem;
}

.button{
    background-color: #008CBA;
    padding: 10px 10px;
    margin-top: 20px;
    font-style: oblique;
}

.output{
    margin-top: 25px ;
    font-family: monospace;
    font-size: larger;
}